.footer {
    margin-top: rem(100px);
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(224, 225, 226, 0.85);
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
    @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
    }
  }
  
  .links {
    @media (max-width: mantine-breakpoint-xs) {
      margin-top: var(--mantine-spacing-md);
    }
  }